@import "tailwindcss/base.css";
@import "variables.css";
@import "tailwindcss/components.css";
@import "tailwindcss/utilities.css";


body {
  background-color: var(--clr-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--clr-text);
  font-family: 'Poppins', sans-serif;

  min-height: 100vh;
  min-height: 100dvh;
  overflow-x: hidden;
  overflow-y: auto;
}

main {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 1rem .5rem;
}

.hero {
text-align: center;
}

.bg__pattern {
  position: fixed;
  inset: 0;
  z-index: -1;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" id="patternId" width="100%" height="100%"><defs><pattern id="a" patternUnits="userSpaceOnUse" width="60" height="60" patternTransform="scale(0.8888888888888888) rotate(0)"><rect x="0" y="0" width="100%" height="100%" fill="%23ebe6ff00"/><path d="M10 60V30m10 0v30m10 0H0V30M50 0v30m-10 0V0M30 0h30v30M30 40h30m0 10H30m0-20h30v30H30zM0 10h30m0 10H0M0 0h30v30H0z" stroke-width="1" stroke="%2354545440" fill="none"/></pattern></defs><rect width="800%" height="800%" transform="translate(0,0)" fill="url(%23a)"/></svg>');
  background-attachment: fixed;
}

.tile {
  background-color: var(--tile-bg);
  box-shadow: var(--tile-box-shadow);
  border: var(--tile-border);
  backdrop-filter: blur(var(--tile-blur));
  border-radius: var(--tile-r);
}


.footer_link {

  svg {
    width: 20px;
    height: 20px;
  }
}